[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.Prac3
Exec=/usr/bin/ru.template.Prac3
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=Prac3
ExecDBus=/usr/bin/ru.template.Prac3
