[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.Prac2
Exec=/usr/bin/ru.template.Prac2
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=Prac2
ExecDBus=/usr/bin/ru.template.Prac2
